.layout--math {
  font-size: 0.65rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  h1 { font-size: 1.3rem; }
  h2 { font-size: 1.0rem; }
  h3 { font-size: 0.7rem; }

  .mjx-container {
    font-size: 100% !important;
  }
}
